<div class="header">
    <nav class="navbar">
        <h2>The D Wheels</h2>
        <div class="nav-input">
            <input type="text" placeholder="Search Dishes">
            <button>Search</button>
        </div>
        <div class="nav-list">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="menu">Menu</a></li>
                <li><a routerLink="contact-us">Contanct us</a></li>
                <li><a routerLink="about-us">About us</a></li>
            </ul>
        </div>
    </nav>
</div>